<div class='about-us'>
    <div class='img-container'>
        <div>
            <img src='../img/about_us.jpg' />
        </div>
        <div style='display: flex;justify-content: center'>
            <div class='img-content'>
                <h1>Về chúng tôi</h1>
                <p>Đối với các nhà thám hiểm ở khắp mọi nơi.</p>
            </div>
        </div>
    </div>
    <div style='justify-content: center;display: flex'>
        <div class='AboutUs-Content'>
            <p>Chúng tôi tin rằng du lịch là dành cho tất cả mọi người. Nó giúp
                chúng ta tìm hiểu về bản thân và thế giới xung quanh.</p>
            <p>Mục tiêu của chúng tôi là giúp nhiều người hơn từ nhiều nền tảng
                khác nhau trải nghiệm niềm vui khám phá. Bởi vì chúng tôi tin
                rằng điều này sẽ xây dựng nên một thế giới tử tế hơn, toàn diện
                hơn và cởi mở hơn.</p>
            <p>Giống như bạn, du lịch nằm trong DNA của chúng tôi. Tại
                VnTravel, chúng tôi tin rằng du lịch sẽ mở ra cánh cửa dẫn đến
                những trải nghiệm tuyệt vời nhất, khó quên nhất mà cuộc sống có
                thể mang lại. Và chúng tôi đã học được rằng chuyến du lịch tốt
                nhất là đặt mình ra khỏi đó, bỏ lại phía sau hàng ngày, đắm mình
                trong chính mình, thay vì chỉ ngắm cảnh.</p>
            <p>Là khách du lịch, bạn đang trên một hành trình và tại
                VnTravel, chúng tôi cũng đang trên một hành trình. Trong hai năm
                qua, du lịch đã thay đổi. Chúng tôi đang suy nghĩ sâu sắc không
                chỉ về cách chúng tôi đi du lịch mà còn về lý do chúng tôi đi du
                lịch và cách phục vụ khách du lịch tốt nhất trên hành trình của
                họ – và chúng tôi bước sang tuổi 50 với niềm đam mê và cam kết
                giúp đỡ những người khác cũng làm được điều đó.</p>
        </div>
    </div>
</div>