* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}
body.tour-detail nav {
    background-color: red;
}
p {
    color: #2d4271;
}
.img-fluid {
    height: 100%;
    object-fit: cover;
}
.image {
    height: 100%;
}
.small {
    height: 50%;
}
.big {
    height: 50%;
}
.tour-detail {
    margin-top: 100px;
}
.s-rate span {
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    color: #fff;
    background: #fdc432;
    width: 65px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 11px;
}
.s-rate span::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid #fdc432;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.s-rate {
    display: flex;
}
.short-rating {
    display: flex;
}
.section-01 {
    margin-bottom: 20px;
}
.s-wishlist {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 112px;
    height: 50px;
    background: #fff;
    border: 0.5px solid #d5d5d5;
    border-radius: 5px;
}
.fa-heart {
    color: #fd0707;
}
.s-comment {
    margin-right: 15px;
}
.tour-detail .section-01 .right .group-price .sale-price .price {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: #fd5056;
    line-height: 28px;
}
.tour-detail .section-01 .right .group-add-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 16px;
}
.tour-detail .section-01 .right .group-add-cart .add-to-cart {
    background: linear-gradient(64.4deg, #fd5056 21.33%, #fe2214 67.61%);
    border-radius: 5px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 192px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
label {
    display: inline-block;
}
.tour-detail .section-01 .right .group-add-cart .add-to-cart i {
    margin-right: 7px;
}
.tour-detail .section-01 .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 25px;
}
.tour-detail .section-01 .right .group-add-cart .add-to-group {
    border: 1px solid #2d4271;
    border-radius: 5px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 192px;
    color: #2d4271;
}
.tour-detail .section-02 {
    padding-bottom: 30px;
    background: #f9f9f9;
}
.tour-detail .section-02 img {
    object-fit: fill;
}
.tour-detail .section-02 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img,
svg {
    vertical-align: middle;
}
img {
    border-style: none;
}
.tour-detail .section-03 .left .box-order {
    padding: 15px 30px;
    background: #fff;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 16px;
}

.tour-detail .section-03 .right .group-services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    border-bottom: 1px solid #7d8fab;
    padding-bottom: 20px;
    margin-bottom: 35px;
}
.tour-detail .section-03 .left .box-support .group-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border: 1px solid #4d4aef;
    border-radius: 14px;
    max-width: 350px;
}
.tour-detail .section-03 .left .box-support .group-contact .phone {
    background: #4d4aef;
    border-radius: 10px;
    height: 50px;
    width: 183px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
}
.tour-detail .section-03 .left .box-support .group-contact .mail {
    border-radius: 10px;
    height: 50px;
    width: 183px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #4d4aef;
}
.tour-detail .section-03 .left .box-support .group-contact .phone p {
    margin: 0;
    line-height: 16px;
}
.tour-detail .section-03 .left .box-support .group-contact .mail p {
    margin: 0;
    line-height: 16px;
}
.tour-detail .section-06 h2,
.tour-detail .section-06 .h2 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
.tour-detail .section-03 .left .box-support label {
    color: #2d4271;
    margin-bottom: 8px;
}
.box-support {
    margin-bottom: 40px;
}
.section-03 {
    background-color: #f9f9f9;
}
.tour-detail .section-03 .right .group-services .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.tour-detail .section-07 .left {
    padding: 38px 1rem;
    background: #f9f9f9;
    border-radius: 10px 0 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.tour-detail .section-07 .left .go-tour .day {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 34px;
}
.tour-detail .section-07 .left .go-tour .day .wrapper .date-right {
    padding-left: 10px;
    width: calc(100% - 64px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.tour-detail .section-07 .left .go-tour .day .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.tour-detail .section-07 .left .go-tour .day .wrapper .date-right .date {
    font-weight: 600;
    font-size: 11px;
}
.tour-detail .section-07 .left .go-tour .day .wrapper .date-right .location {
    font-weight: 700;
}
.tour-detail .section-07 .left .go-tour .day .wrapper .date-left {
    width: 40px;
}
.tour-detail .section-07 .left .go-tour .day .wrapper .date-center.active {
    background: #fd5056;
    border: 1px solid #fd5056;
    color: #fff;
}
.tour-detail .section-07 .left .go-tour .day .wrapper .date-center {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #2d4271;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #2d4271;
    background: #fff;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.tour-detail .section-07 .left .go-tour .day:before {
    content: '';
    height: 100%;
    border-left: 0.5px dashed #2d4271;
    position: absolute;
    top: -14px;
    left: 52px;
    z-index: 0;
}
.tour-detail .section-07 .right {
    padding: 38px 42px 38px 28px;
}
h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.tour-detail .section-07 .right .excerpt {
    padding-left: 33px;
    max-width: 100%;
    position: relative;
    margin-bottom: 15px;
    line-height: 24px;
}
.tour-detail .section-07 .right .excerpt .line:before {
    content: '';
    width: 5px;
    height: 5px;
    background: #4d4aef;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -3px;
    z-index: 1;
}
.tour-detail .section-07 .right .excerpt .line:after {
    content: '';
    width: 5px;
    height: 5px;
    background: #4d4aef;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: -3px;
    z-index: 1;
}
.tour-detail .section-07 .right .excerpt .line {
    height: calc(100% - 16px);
    border-left: 0.5px dashed #4d4aef;
    border-left-color: rgb(77, 74, 239);
    position: absolute;
    top: 6px;
    left: 0;
    z-index: 1;
}
.tour-detail .section-07 .row {
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
}
.tour-detail .section-08 .left .tour {
    padding: 35px 15px;
}
.tour-detail .section-08 .left h3 {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    color: #2d4271;
}
.tour-detail .section-08 .left h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 35px;
    color: #2d4271;
}
.tour-detail .section-08 .right h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #2d4271;
}
.tour-detail .section-08 .left .tour .detail-tour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.tour-detail .section-08 .left .tour .detail-tour .detail-tour-inner .date {
    margin-bottom: 20px;
}
.tour-detail .section-08 .left .tour .detail-tour .detail-tour-inner.goto {
    border-right: 1px solid #d5d5d5;
}
.tour-detail .section-08 .left .tour .detail-tour .detail-tour-inner {
    padding: 0 10px;
    width: 50%;
}
.tour-detail .section-08 .left .tour .detail-tour .detail-tour-inner .cb p {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    padding: 7px 26px;
    color: #2d4271;
}
.tour-detail .section-08 .left .tour .detail-tour .detail-tour-inner .time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
}
.tour-detail .section-08 .left .tour .detail-tour .detail-tour-inner .p-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}
.tour-detail
    .section-08
    .left
    .tour
    .detail-tour
    .detail-tour-inner
    .p-line:before {
    content: '';
    width: 100%;
    border-top: 1px dashed #ced4de;
    position: absolute;
    top: 7px;
    left: 0;
    z-index: 1;
}
.tour-detail .section-08 .left .tour .more-info .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.tour-detail .section-08 .left .tour .more-info .block span {
    display: block;
    width: 40%;
    color: #2d4271;
}
.tour-detail .section-08 .left .tour .more-info .block .info {
    width: 60%;
}
.tour-detail .section-08 .left .tour .more-info .block .info p {
    color: #2d4271;
}
.tour-detail .section-08 .right .table-price {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 25px 20px;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.tour-detail .section-08 .right .table-price .l1 {
    width: 290px;
}
.tour-detail .section-08 .right .table-price tr th,
.tour-detail .section-08 .right .table-price tr td {
    padding: 10px 0;
}
.tour-detail .section-08 .right .table-price tr .t-price {
    color: #fd5056;
}
.tour-detail .section-08 .right .table-price tr.total td {
    font-weight: 700;
}
.tour-detail .section-08 .right .table-price tr .t-price {
    color: #fd5056;
}
td {
    color: #2d4271;
}
.tour-detail .section-09 .faqs article {
    margin-bottom: 15px;
    position: relative;
}
.tour-detail .section-09 .faqs article h3,
.tour-detail .section-09 .faqs article .h3 {
    background: #f9f9f9;
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}
.tour-detail .section-09 .faqs article .panel.active {
    display: block;
}
.tour-detail .section-09 .faqs article .panel {
    padding-top: 0;
    margin-top: -5px;
}
.tour-detail .section-09 .faqs article .panel {
    background: #f9f9f9;
    border-radius: 5px;
    padding: 15px 35px;
    position: relative;
    display: none;
}
.tour-detail .section-09 .faqs article .open {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 1;
}
.tour-detail .section-08 .left .tour {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px 30px 32px 15px;
}
.tour-detail .section-08 .left .tour {
    padding: 35px 15px;
}
.tour-detail .section-03 .left .box-order .calendar .calendar-box {
    border: 1px solid #4d4aef;
    border-radius: 5px;
    width: 110px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #4d4aef;
}
.box-support i {
    font-size: 25px;
    margin-right: 10px;
}
.fa-envelope {
    font-size: 50px;
}
.phone p {
    color: #fff;
}
.fa-calendar {
    margin: 10px 10px 10px 5px;
}
