<footer
    role='contentinfo'
    class='footer pt-6 position-relative'
    data-color-mode='dark'
    data-dark-theme='dark'
>
    <div class='container-xl p-responsive'>
        <div class='d-flex flex-wrap py-5 mb-5'>
            <div class='col-12 col-lg-4 mb-5'>
                <label class='logo'>VnTravel</label>
                <div>
                    <h2 class='h5 mt-4' id='subscribe-to-newsletter'>Theo dõi
                        bản tin của chúng tôi</h2>
                    <p class='f5 color-fg-muted mb-3'>Nhận cập nhật sản phẩm,
                        tin tức công ty, v.v.</p>
                    <a href='#'>Đăng Ký</a>
                </div>
            </div>

            <div
                class='col-6 col-sm-3 col-lg-2 mb-6 mb-md-2 pr-3 pr-lg-0 pl-lg-4'
            >
                <h2 class='h5 mb-3 text-mono color-fg-muted text-normal'>
                    Sản Phẩm
                </h2>

                <ul class='list-style-none f5 footer-ul'>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Tour trong nước</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Tour nghỉ dưỡng</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Tour miền Tây</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Tuần trăng mật</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Tuor gia đình</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Sách du lịch</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Dịch vụ giao thông</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Dịch vụ chăm sóc</a>
                    </li>
                </ul>
            </div>

            <div
                class='col-6 col-sm-3 col-lg-2 mb-6 mb-md-2 pr-3 pr-md-0 pl-md-4'
            >
                <h2 class='h5 mb-3 text-mono color-fg-muted text-normal'>
                    Dòng Tour
                </h2>

                <ul class='list-style-none f5 footer-ul'>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Cao cấp</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Tiêu chuẩn</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Tiết kiệm</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Giá tốt</a>
                    </li>
                </ul>
            </div>

            <div
                class='col-6 col-sm-3 col-lg-2 mb-6 mb-md-2 pr-3 pr-md-0 pl-md-4'
            >
                <h2 class='h5 mb-3 text-mono color-fg-muted text-normal'>
                    Thông Tin
                </h2>

                <ul class='list-style-none f5 footer-ul'>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Tạp chí du lịch</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Cẩm nang du lịch</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Tin tức</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Sitemap</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>FAQs</a>
                    </li>
                </ul>
            </div>

            <div
                class='col-6 col-sm-3 col-lg-2 mb-6 mb-md-2 pr-3 pr-md-0 pl-md-4'
            >
                <h2 class='h5 mb-3 text-mono color-fg-muted text-normal'>
                    Các chính sách
                </h2>

                <ul class='list-style-none f5 footer-uld-block footer-ul'>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Chính sách riêng tư</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Thỏa thuận sử dụng</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Tuyển dụng</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Bảo hiểm</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>An toàn khách hàng</a>
                    </li>
                    <li class='lh-condensed mb-3'>
                        <a href='#'>Đối tác</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class='color-bg-subtle'>
        <div
            class='container-xl p-responsive f6 py-4 d-sm-flex flex-justify-between flex-row-reverse flex-items-center'
        >
            <ul
                class='list-style-none d-flex flex-items-center mb-3 mb-sm-0 lh-condensed-ultra social-network-list'
            >
                <li class='mr-3'>
                    <a>
                        <i class='fa-brands fa-twitter'></i>
                    </a>
                </li>
                <li class='mr-3'>
                    <a>
                        <i class='fa-brands fa-facebook'></i>
                    </a>
                </li>
                <li class='mr-3 flex-self-start'>
                    <a>
                        <i class='fa-brands fa-linkedin-in'></i>
                    </a>
                </li>
                <li class='mr-3'>
                    <a>
                        <i class='fa-brands fa-youtube'></i>
                    </a>
                </li>
                <li class='mr-3'>
                    <a>
                        <i class='fa-brands fa-tiktok'></i>
                    </a>
                </li>
            </ul>

            <ul class='list-style-none d-flex flex-wrap color-fg-muted'>
                <li class='mr-3'>
                    154 Phan Châu Trinh,Phường Điện An,Thị Xã Điện Bàn,Tỉnh
                    Quảng Nam
                </li>
            </ul>
        </div>
    </div>
</footer>