<div class='booking-tour mt-5 pt-3 '>
    <section class='checkout-main order-tour'>
        <div class='container'>
            <div class='row'>
                <div class='col-12 top'>
                    <div class='product'>
                        <div class='product-image'>
                            <div class='image'>
                                <img
                                        src='https://media.travel.com.vn/tour/tfd_220527020321_459824.jpg'
                                        class='img-fluid'
                                        alt='image'
                                />
                            </div>
                        </div>
                        <div class='product-content'>
                            <p class='title' id='title'>Phú Quốc: VinWonders -
                                Vinpearl Safari - Hòn Thơm Nature Park - Cáp
                                Treo Vượt Biển - Công Viên Nước Aquatopia</p>
                            <div class='entry'>
                                <div class='entry-inner'>
                                    <span>Khởi hành <b>21/06/2023</b></span>
                                    <span>Thời gian <b>3 ngày</b></span>
                                    <span>Nơi khởi hành
                                        <b>TP. Hồ Chí Minh</b></span>
                                    <span>Dịch vụ tùy chọn
                                        <b>Bay cùng Bamboo Airways - Nghỉ dưỡng
                                            Resort Radisson Blu 5 Sao</b></span>
                                </div>
                            </div>
                        </div>
                        <div class='entry-mb d-lg-none'>
                            <div class='entry-inner'>
                                <span>Khởi hành
                                    <b>21/06/2023, TP. Hồ Chí Minh</b></span>
                                <span>Số chỗ còn nhận <b>4</b></span>
                                <span>Số ngày <b>3 ngày</b></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-8 col-12 left'>
                    <h3 class="h3-communications">Thông tin liên lạc</h3>
                    <div class='customer-contact mb-3'>
                        <form
                                class='customer-contact-inner'
                                action='#'
                                method='get'
                                id='form'
                        >
                            <div class='name'>
                                <label>Họ và Tên <b>*</b></label>
                                <input
                                        class='form-control'
                                        id='contact_name'
                                        name='Fullname'
                                        type='text'
                                        value=''
                                        fdprocessedid='1blrzf'
                                />
                            </div>
                            <div class='mail'>
                                <label>Email <b>*</b></label>
                                <input
                                        class='form-control'
                                        id='email'
                                        name='Email'
                                        type='text'
                                        value=''
                                        fdprocessedid='fyzp'
                                />
                            </div>
                            <div class='phone'>
                                <label>Số điện thoại <b>*</b></label>
                                <input
                                        class='form-control'
                                        id='mobilephone'
                                        name='Telephone'
                                        onkeypress='return funCheckInt(event)'
                                        type='text'
                                        value=''
                                        fdprocessedid='p8ar7w'
                                />
                            </div>
                            <div class='addess'>
                                <label>Địa chỉ</label>
                                <input
                                        class='form-control'
                                        id='address'
                                        name='Address'
                                        type='text'
                                        value=''
                                        fdprocessedid='gkby48'
                                />
                            </div>
                        </form>
                    </div>
                    <div class='customer'>
                        <h3>Hành khách</h3>
                        <div class='change'>
                            <div class='change-title'>
                                <h4>Người lớn</h4>
                                <p>&gt; 12 tuổi</p>
                            </div>
                            <div class='change-number'>
                                <span class='minus btn-click'><i
                                        class='fa-solid fa-arrow-left'
                                        id='adultMinus'
                                ></i></span>
                                <span class='number' id='adult'>0</span>
                                <span class='plus btn-click'><i
                                        class='fa-solid fa-arrow-right'
                                        id='adultPlus'
                                ></i></span>
                            </div>
                        </div>
                        <div class='change'>
                            <div class='change-title'>
                                <h4>Trẻ em</h4>
                                <p>Từ 5 - 11 tuổi</p>
                            </div>
                            <div class='change-number'>
                                <span class='minus btn-click'><i
                                        class='fa-solid fa-arrow-left'
                                        id='childrenMinus'
                                ></i></span>
                                <span class='number' id='children'>0</span>
                                <span class='plus btn-click'><i
                                        class='fa-solid fa-arrow-right'
                                        id='childrenPlus'
                                ></i></span>
                            </div>
                        </div>
                        <div class='change'>
                            <div class='change-title'>
                                <h4>Trẻ nhỏ</h4>
                                <p>Từ 2 - 4 tuổi</p>
                            </div>
                            <div class='change-number'>
                                <span class='minus btn-click'><i
                                        class='fa-solid fa-arrow-left'
                                        id='smallchildrenMinus'
                                ></i></span>
                                <span class='number' id='smallchildren'>0</span>
                                <span class='plus btn-click'><i
                                        class='fa-solid fa-arrow-right'
                                        id='smallchildrenPlus'
                                ></i></span>
                            </div>
                        </div>
                        <div class='change'>
                            <div class='change-title'>
                                <h4>Em bé</h4>
                                <p>Từ 0 - 2 tuổi</p>
                            </div>
                            <div class='change-number'>
                                <span class='minus btn-click'><i
                                        class='fa-solid fa-arrow-left'
                                        id='babyMinus'
                                ></i></span>
                                <span class='number' id='baby'>0</span>
                                <span class='plus btn-click'><i
                                        class='fa-solid fa-arrow-right'
                                        id='babyPlus'
                                ></i></span>
                            </div>
                        </div>
                    </div>
                    <div class='customer-notice'>
                        <div class='customer-notice-left'>
                            <p>Người lớn sinh trước ngày
                                <b>21/06/2011</b>
                            </p>
                            <p>Trẻ nhỏ sinh từ
                                <b>22/06/2018</b>
                                đến
                                <b>21/06/2021</b>
                            </p>
                        </div>
                        <div class='customer-notice-right'>
                            <p>
                                Trẻ em sinh từ
                                <b>22/06/2011</b>
                                đến
                                <b>21/06/2018</b><br />
                            </p>
                            <p>
                                Em bé sinh từ
                                <b>22/06/2021</b>
                                đến
                                <b>23/06/2023</b>
                            </p>
                        </div>
                    </div>
                    <div class='customer-save'>
                        <h3>Quý khách có ghi chú lưu ý gì, hãy nói với chúng tôi
                            !</h3>
                        <div class='customer-save-inner'>
                            <label class='checker mb-3'>
                                Hút thuốc
                                <input
                                        type='checkbox'
                                        class='note-more'
                                        value='hút thuốc'
                                />
                            </label>
                            <label class='checker mb-3'>
                                Phòng tầng cao
                                <input
                                        type='checkbox'
                                        class='note-more'
                                        value='phòng tầng cao'
                                />
                            </label>
                            <label class='checker mb-3'>
                                Trẻ em hiếu động
                                <input
                                        type='checkbox'
                                        class='note-more'
                                        value='trẻ em hiếu động'
                                />
                            </label>
                            <label class='checker mb-3'>
                                Ăn chay
                                <input
                                        type='checkbox'
                                        class='note-more'
                                        value='ăn chay'
                                />
                            </label>
                            <label class='checker mb-3'>
                                Có người khuyết tật
                                <input
                                        type='checkbox'
                                        class='note-more'
                                        value='có người khuyết tật'
                                />
                            </label>
                            <label class='checker mb-3'>
                                Phụ nữ có thai
                                <input
                                        type='checkbox'
                                        class='note-more'
                                        value='phụ nữ có thai'
                                />
                            </label>
                            <p>Ghi chú thêm :</p>
                            <textarea
                                    class='form-control'
                                    cols='20'
                                    id='note'
                                    name='note'
                                    placeholder='Vui lòng nhập nội dung lời nhắn bằng tiếng Anh hoặc tiếng Việt'
                                    rows='5'
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class='col-md-4 col-12 right'>
                    <div class='group-checkout'>
                        <div class='product'>
                            <div class='product-image'>
                                <img
                                        src='https://media.travel.com.vn/tour/tfd_220527020321_459824.jpg'
                                        class='img-fluid'
                                        alt='image'
                                />
                            </div>
                            <div class='product-content'>
                                <p class='title'>Phú Quốc: VinWonders - Vinpearl
                                    Safari - Hòn Thơm Nature Park - Cáp Treo
                                    Vượt Biển - Công Viên Nước Aquatopia</p>
                            </div>
                        </div>
                        <div class='detail'>
                            <table>
                                <tbody>
                                <tr>
                                    <td>Người lớn</td>
                                    <td
                                            class='t-price text-right'
                                            id='AdultPrice'
                                    >0₫</td>
                                </tr>
                                <tr>
                                    <td>Trẻ em</td>
                                    <td
                                            class='t-price text-right'
                                            id='ChildrenPrice'
                                    >0₫</td>
                                </tr>
                                <tr>
                                    <td>Trẻ nhỏ</td>
                                    <td
                                            class='t-price text-right'
                                            id='SmallChildrenPrice'
                                    >0₫</td>
                                </tr>
                                <tr>
                                    <td>Em bé</td>
                                    <td
                                            class='t-price text-right'
                                            id='BabyPrice'
                                    >0₫</td>
                                </tr>
                                <tr
                                        id='promotiontitletotal'
                                        style='display:none'
                                >
                                    <td>Tổng tiền</td>
                                    <td
                                            class='t-price text-right'
                                            id='PromotionTotalPrice'
                                    ></td>
                                </tr>
                                <tr style='display:none'>
                                    <td id='discountTitle'>noidia</td>
                                    <td id='discountPrice'></td>
                                </tr>
                                <tr class='cuppon'>
                                    <td>Mã giảm giá </td>
                                    <td class='cp-form text-right'>
                                        <form action='#'>
                                            <input
                                                    class='form-control'
                                                    id='DiscountCode'
                                                    name='DiscountCode'
                                                    placeholder='Nhập mã'
                                                    required='required'
                                                    type='text'
                                                    value=''
                                                    fdprocessedid='9x8v0l'
                                            />
                                            <input
                                                    type='hidden'
                                                    id='hdDiscountCode'
                                            />
                                            <input
                                                    type='hidden'
                                                    id='hdDiscountCode-Price'
                                                    value='0'
                                            />
                                            &nbsp;
                                            <input
                                                    type='button'
                                                    class='btn btn-success'
                                                    id='btnDiscountCode'
                                                    value='Áp dụng'
                                                    fdprocessedid='sdxev'
                                            />
                                        </form>
                                    </td>
                                </tr>
                                <tr
                                        id='spanDiscountCode'
                                        style='display: none;'
                                >
                                    <td colspan='2'>
                                        Mã
                                        <span
                                                id='txtDiscountCode'
                                                class='fw-bold'
                                        >Fake</span>
                                        giảm
                                        <span
                                                id='txtDiscountCode-Price'
                                                class='fw-bold'
                                        >0₫</span>
                                        sẽ áp dụng khi hoàn tất.
                                    </td>
                                </tr>
                                <tr class='total'>
                                    <td>Tổng cộng</td>
                                    <td
                                            class='t-price text-right'
                                            id='TotalPrice'
                                    >0₫</td>
                                </tr>
                                </tbody></table>
                            <div>
                                <button
                                        class='btn btn-primary btn-order'
                                        style='width:100% '
                                        fdprocessedid='vhkioh'
                                >
                                    Đặt ngay
                                </button>
                            </div>
                        </div>

                        <div
                                id='selectOptionTour'
                                class='modal fade bd-example-modal-lg reSelectOption'
                                tabindex='-1'
                                role='dialog'
                        >
                            <div class='modal-dialog modal-lg'>

                                <div class='modal-content'>
                                    <div class='modal-header'>
                                        <h6 class='modal-title'>DANH SÁCH DỊCH
                                            VỤ</h6>
                                        <button
                                                type='button'
                                                class='btn-close'
                                                data-bs-dismiss='modal'
                                                aria-label='Close'
                                        >×</button>
                                    </div>
                                    <div class='modal-body'>
                                        <input
                                                type='hidden'
                                                value='b1347737-e995-4e24-8fd9-aeafab50db9c'
                                                id='tourId'
                                        />
                                        <h6>Danh sách lựa chọn</h6>
                                        <div class='col-12'>
                                            <table class='table caption-top'>
                                                <tbody>
                                                <tr>
                                                    <td colspan='2'>
                                                            <span
                                                                    id='OptionName_1'
                                                            >
                                                                Bay cùng Bamboo
                                                                Airways - Nghỉ
                                                                dưỡng Resort
                                                                Radisson Blu 5
                                                                Sao
                                                            </span>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td
                                                            class='d-flex justify-content-end'
                                                    >
                                                            <span
                                                                    class='px-2'
                                                                    id='optionPrice_1'
                                                            >
                                                                0₫
                                                            </span>
                                                        <div
                                                                class='form-check'
                                                        >
                                                            <input
                                                                    class='form-check-input'
                                                                    checked=''
                                                                    type='radio'
                                                                    value='7590000.0'
                                                                    name='flexRadioDefault'
                                                                    id='option_1'
                                                            />
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id='showlistoptionservice'>
                                            <table class='table-sm w-100'>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class='modal-footer'>
                                        <div class='container'>
                                            <div class='row'>
                                                <div
                                                        class='col-12 d-flex justify-content-end'
                                                >
                                                    <span class='px-4'>Thành
                                                        tiền :</span>
                                                    <span
                                                            class='px-2'
                                                            id='TotalPriceService'
                                                    ><strong
                                                    >0₫</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                                class='col-12 d-flex justify-content-center'
                                        >
                                            <button
                                                    type='submit'
                                                    id='btn-order'
                                                    class='btn btn-primary text-uppercase'
                                            >Đặt ngay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>