<div class='create-tour'>
    <h3>Thêm tour mới</h3>
    <form method='POST' action='/tours/store'>
        <div class='form-group'>
            <label for='name'>Mô tả</label>
            <input type='text' class='form-control' id='name' name='name' />
        </div>
        <div class='form-group'>
            <label for='name'>Mô tả</label>
            <input
                type='text'
                class='form-control'
                id='description'
                name='description'
            />
        </div>
        <div class='form-group'>
            <label for='name'>Mô tả</label>
            <input
                type='text'
                class='form-control'
                id='video'
                name='main_image'
            />
        </div>
        <div class='form-group'>
            <label for='name'>Mô tả</label>
            <input
                type='text'
                class='form-control'
                id='description'
                name='first_day'
            />
        </div>
        <div class='form-group'>
            <label for='name'>Mô tả</label>
            <input
                type='text'
                class='form-control'
                id='description'
                name='second_day'
            />
        </div>
        <div class='form-group'>
            <label for='name'>Mô tả</label>
            <input
                type='text'
                class='form-control'
                id='description'
                name='third_day'
            />
        </div>
        <div class='form-group'>
            <label for='name'>Mô tả</label>
            <input
                type='text'
                class='form-control'
                id='description'
                name='Starting_gate'
            />
        </div>
        <div class='form-group'>
            <label for='name'>Mô tả</label>
            <input
                type='text'
                class='form-control'
                id='description'
                name='slug'
            />
        </div>
        <button type='submit' class='btn btn-primary'>Đăng thôg tin tour</button>
    </form>
</div>